- comments = post.user == current_user ? @comments : @not_abusive_comments
- comments.each do |comment|
  .comment
    .comment-header
      %h5
        = comment.title
        %small
          = "#{comment.user} - #{comment.created_at.localtime.strftime("%d/%m/%Y : %H:%M")}"
      .comment-buttons
        = link_to "Vote UP (#{comment.votes.where(type: :up).count})", 
          post_comment_vote_up_path(post,comment), method: :post
        = link_to "Vote DOWN (#{comment.votes.where(type: :down).count})", 
          post_comment_vote_down_path(post,comment), method: :post
        - if post.user == current_user && comment.abusive == true
          = link_to "not abusive", post_comment_mark_not_abusive_path(post,comment), method: :post
        - if comment.user == current_user
          = link_to "edit", edit_post_comment_path(post,comment)
          = link_to "delete", post_comment_path(post,comment), method: :delete, class: 'btn-danger', confirm: 'Sure?'
          
    .comment-body
      %p= comment.body