- comments.each do |comment|
  .comment
    .comment-header
      %h5
        = comment.title
        %small
          = "#{comment.user} - #{comment.created_at.localtime.strftime("%d/%m/%Y : %H:%M")}"
      .comment-buttons
        - if comment.user != current_user
          = link_to "Vote UP (#{comment.votes.where(value: 1).count})", 
            vote_up_post_comment_path(post,comment), method: :post
          = link_to "Vote DOWN (#{comment.votes.where(value: -1).count})", 
            vote_down_post_comment_path(post,comment), method: :post
        - if post.user == current_user && comment.abusive == true
          = link_to "not abusive", mark_not_abusive_post_comment_path(post,comment), method: :post
        - if comment.user == current_user
          = link_to "edit", edit_post_comment_path(post,comment)
          = link_to "delete", post_comment_path(post,comment), method: :delete, class: 'btn-danger', confirm: 'Sure?'
          
    .comment-body
      %p= comment.body